.vehicle-modal {
  z-index: 98;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: none;
  display: none;
  position: fixed; }

.vehicle-modal-info {
  z-index: 99;
  background: #fff;
  width: 800px;
  margin: 3% auto; }
  .vehicle-modal-info h5 {
    font-size: 1.5em; }
  .vehicle-modal-info h4 {
    font-size: 2em;
    padding-bottom: 5px; }

.close-bar {
  font-size: 50px;
  text-align: right;
  padding: 0 20px;
  cursor: pointer;
  background-color: #1c2430;
  border-color: #015e8c;
  color: #ffffed; }

.close-bar:hover {
  color: black; }

.close-modal-btn {
  padding-bottom: 15px; }

.no-scroll {
  overflow: hidden; }

.car-modal-thumbnail {
  height: 50vh; }

.modal-info {
  padding-top: 20px; }

.modal-info_right {
  margin-top: 17px; }

.trip-modal {
  z-index: 98;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: none;
  display: none;
  position: fixed; }

.vehicle-modal-info {
  z-index: 99;
  background: #fff;
  width: 800px;
  margin: 3% auto; }

.vehicle-card {
  width: 30vw;
  margin: 5px 35px; }

.vehicle-card:hover {
  box-shadow: 5px 5px 15px darkgrey;
  cursor: pointer; }

.car-card-thumbnail {
  height: 25vh;
  width: 100%; }

#vehiclSelectImg {
  min-height: 100vh;
  width: 100%;
  background-image: url("../assets/lakePukakiNewZealand.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

#groupDetailsImg {
  min-height: 100vh;
  width: 100%;
  background-image: url("../assets/queenstownHillNewZealand.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

#titleScreen {
  min-height: 100vh;
  width: 100%;
  background-image: url("../assets/roadToMountCook.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center; }

#bookTripScreen {
  min-height: 100vh;
  width: 100%;
  background-image: url("../assets/wanakaOtagoTree.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center; }

/* -- Vehicle Images -- */
#suzukiGsx1 {
  width: 100%;
  background-image: url("../assets/suzukiGsx1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

#suzukiGsx2 {
  width: 100%;
  background-image: url("../assets/suzukiGsx2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

#suzukiGsx3 {
  width: 100%;
  background-image: url("../assets/suzukiGsx3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

#suzukiSwift1 {
  width: 100%;
  background-image: url("../assets/suzukiSwift1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

#suzukiSwift2 {
  width: 100%;
  background-image: url("../assets/suzukiSwift2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

#suzukiSwift3 {
  width: 100%;
  background-image: url("../assets/suzukiSwift3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

#mazdaSix1 {
  width: 100%;
  background-image: url("../assets/mazdaSix1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

#mazdaSix2 {
  width: 100%;
  background-image: url("../assets/mazdaSix2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

#mazdaSix3 {
  width: 100%;
  background-image: url("../assets/mazdaSix3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

#fiatDucato1 {
  width: 100%;
  background-image: url("../assets/fiatDucato1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

#fiatDucato2 {
  width: 100%;
  background-image: url("../assets/fiatDucato2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

#fiatDucato3 {
  width: 100%;
  background-image: url("../assets/fiatDucato3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.btn-primary {
  background-color: #d7a130 !important;
  color: #1c2430 !important;
  border-color: #d7a130 !important; }

.btn-primary:hover {
  background-color: #a37921 !important;
  border-color: #a37921 !important;
  color: #1c2430; }

.btn-primary:active, .btn-primary:focus {
  background-color: #d7a130 !important;
  color: #1c2430 !important;
  border-color: #d7a130 !important;
  box-shadow: 0px 0px 5px #333 !important; }

.btn-secondary {
  background-color: #1c2430;
  border-color: #015e8c;
  color: #ffffed; }

.btn-secondary:hover {
  background-color: #24344d !important;
  border-color: #026da4 !important;
  color: #ffffed !important; }

.btn-secondary:active, .btn-secondary:focus {
  background-color: #1c2430;
  border-color: #015e8c;
  color: #ffffed;
  box-shadow: 0px 0px 5px #333 !important; }

.selected-vehicle {
  background-color: #879e1a;
  border-color: #879e1a;
  color: #ffffed; }

.selected-vehicle:hover {
  background-color: #296902 !important;
  border-color: #296902 !important;
  color: #ffffed !important; }

.selected-vehicle:active, .selected-vehicle:focus {
  background-color: #879e1a;
  border-color: #879e1a;
  color: #ffffed;
  box-shadow: 0px 0px 5px #333 !important; }

.submit-btn {
  margin-top: 25px; }

.btn-cards {
  margin: 5px 5px; }

#confirmRoadTrip {
  margin: 3% auto; }

#startRentalProcess {
  margin-top: 3%; }

.btn a {
  text-decoration: none;
  color: inherit; }

* {
  scroll-behavior: smooth; }

h3 {
  font-size: 3rem; }

.site-logo {
  width: 15vw;
  display: block;
  position: absolute;
  top: 2%;
  left: 3%; }

.heading-underline {
  border: 2px solid #1c2430; }

.date-picker {
  width: 270px; }

.date-picker-container {
  margin: 0 2% 15% 0; }

.section {
  min-height: 100vh; }

.landing-page {
  padding-top: 20vh; }

.row {
  margin: 0; }

.margin-auto {
  margin: auto; }

.stops-container {
  max-height: 23vh;
  margin-bottom: 10px;
  padding: 10px 35px;
  overflow: auto;
  font-size: 1.3em; }
  .stops-container p {
    margin-bottom: 0; }

.directions-panel {
  max-height: 23vh;
  padding: 10px;
  margin-top: 15px;
  display: none;
  overflow: auto; }

.img-filler {
  min-height: 100vh;
  display: block; }

#tripDetailsReadOut {
  border-radius: 3px;
  padding: 15px;
  margin-top: 5vh;
  box-shadow: 5px 5px 15px #333; }

#total p {
  margin: 10px !important; }

#map {
  min-height: 100vh;
  margin: 0 -15px; }

@media only screen and (max-width: 1134px) {
  .vehicle-card {
    margin: 1%; } }
@media only screen and (max-width: 991px) {
  h3 {
    font-size: 2rem; }

  .submit-btn {
    margin-bottom: 1%; }

  .display-1 {
    font-size: 3.75rem; }

  .display-4 {
    font-size: 2.75rem; }

  .site-logo {
    width: 40vw;
    display: block;
    margin: 5% auto;
    position: relative; }

  .landing-page {
    padding-top: 15vh; }

  #groupDetailsImg {
    min-height: 45vh; }

  .date-picker {
    width: 100%; }

  .date-picker-container {
    margin: 3% 1%; }

  #vehiclSelectImg {
    display: none; }

  #vehiclSelectImg {
    min-height: 40vh;
    background-position: center; }

  .vehicle-card {
    width: 45vw; }

  .vehicle-modal-info {
    width: 85%;
    margin: 7% auto; }

  .car-modal-thumbnail {
    height: 55vh; }

  #map {
    min-height: 80vh; } }
@media only screen and (max-width: 520px) {
  .display-1 {
    font-size: 3rem; }

  .display-4 {
    font-size: 2rem; }

  .vehicle-card {
    width: 80vw;
    margin: 1% auto; }

  .vehicle-modal-info {
    width: 100%;
    margin: 0;
    height: 100vh; }
    .vehicle-modal-info h4 {
      font-size: 1.3rem; }
    .vehicle-modal-info h5 {
      font-size: 1.1rem; }

  .car-modal-thumbnail {
    height: 60vh; }

  #tripDetailsReadOut {
    margin-top: 2.5vh; }

  #confirmRoadTrip {
    margin-top: 4%; } }

/*# sourceMappingURL=stylesheet.css.map */
