// Fixing vehicle select cards
@media only screen and (max-width: 1250px){
	.vehicle-card{
		width: 32vw;
		margin: 1%;
	}
}

// Media Query lg
@media only screen and (max-width: 991px){
	// Universal selectors
	h3{
		font-size: 2rem;
	}
	.form-container{
		max-height: auto;
	}
	.submit-btn{
		margin-bottom: 1%; 
	}
	.display-1{
		font-size: 3.75rem;
	}
	.display-4{
		font-size: 2.75rem;
	}
	// Landing Page
	.site-logo{
		width: 40vw;
		display: block;
		margin: 5% auto;
		position: relative;
	}
	.landing-page{
		padding-top: 15vh;
	}
	// Group Detials section
	#groupDetailsImg{
		min-height: 45vh;
	}
	.date-picker{
		width: 100%;
	}
	.date-picker-container{
		margin: 3% 1%;
	}
	#vehiclSelectImg{
		display: none;
	}
	// Pick vehicle section
	#vehiclSelectImg{
		min-height: 40vh;
		background-position: center;
	}
	.vehicle-card{
		width: 45vw;
	}
		// Modals pop-up of vehicles
		.vehicle-modal-info{
			width: 85%;
			margin: 7% auto;
		}
		.car-modal-thumbnail{
			height: 55vh;
		}
	// Book trip section
	#map{
		min-height: 80vh;
	}
}

@media only screen and (max-width: 768px){
	.vehicle-card{
		width: 80vw;
		margin: 1% auto;
	}
}

// Media Query phone
@media only screen and (max-width: 520px){
	// Universal selectors
	.display-1{
		font-size: 3rem;
	}
	.display-4{
		font-size: 2rem;
	}
	// Vehicle select
		// Vehicle Modal
		.vehicle-modal-info{
			width: 100%;
			margin: 0;
			height: 100vh;
			h4{
				font-size: 1.3rem;
			}
			h5{
				font-size: 1.1rem;
			}

		}
		.car-modal-thumbnail{
			height: 60vh;
		}
	// Summary Page
	#tripDetailsReadOut{
		margin-top: 2.5vh;
	}
	#confirmRoadTrip{
		margin-top: 4%;
	}
}