// --- Shadows ---
@mixin shadow-dark{
	box-shadow: 5px 5px 15px #333;
}
@mixin btn-shadow{
	box-shadow: 0px 0px 5px #333 !important;
}

// --- Colors ---
@mixin primary-color{
	background-color: $primary-yellow !important;
	color: $primary-grey!important;
	border-color: $primary-yellow !important;
}
@mixin primary-color-hover{
	background-color: $primary-yellow-hover !important;
	border-color: $primary-yellow-hover !important;
	color: $primary-grey;
}
@mixin secondary-color{
	background-color: $primary-grey;
	border-color: $primary-grey;
	color: $primar-white;
}
@mixin secondary-color-hover{
	background-color: $secondary-grey-hover !important;
	border-color: $secondary-grey-hover !important;
	color: $primar-white !important;
}
@mixin selected-car{
	background-color: $primary-green;
	border-color: $primary-green;
	color: $primar-white;
}
@mixin selected-car-hover{
	background-color: $primary-green-hover !important;
	border-color: $primary-green-hover !important;
	color: $primar-white !important;
}