// Vehicle modal detials
.vehicle-modal{
	z-index: 98;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.4);
	overflow: none;
	display: none;
	position: fixed;
}
.vehicle-modal-info{
	z-index: 99;
	background: #fff;
	width: 800px;
	margin: 3% auto;
	h5{
		font-size: 1.5em;
	}
	h4{
		font-size: 2em;
		padding-bottom: 5px;
	}
}
.close-bar{
	font-size: 50px;
	text-align: right;
	padding: 0 20px;
	cursor: pointer;
	@include secondary-color;
}
.close-bar:hover{
	color: black;
}
.close-modal-btn{
	padding-bottom: 15px;
}
.no-scroll{
	overflow: hidden;
}
.car-modal-thumbnail{
	height: 50vh;
}
.modal-info{
	padding-top: 20px;
}
.modal-info_right{
	margin-top: 17px;
}
// Trip details modal
.trip-modal{
	z-index: 98;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.4);
	overflow: none;
	display: none;
	position: fixed;
}
.vehicle-modal-info{
	z-index: 99;
	background: #fff;
	width: 800px;
	margin: 3% auto;
}



































