// Primary Colors
$primary-yellow: #d7a130;
$primary-grey: #1c2430;
$primar-white: #ffffed;
$primary-green: #879e1a;
// Hover colors
$primary-yellow-hover: #a37921;
$secondary-grey-hover: #24344d;
$primary-green-hover: #296902;