@import 'modals';
@import 'vehicleCard';
@import 'mixins';
@import 'images';
*{
	scroll-behavior: smooth;
}
.date-picker{
	width: 270px;
}
.date-picker-container{
	margin: 0 15% 15% 0;
}
.section{
	min-height: 100vh;
}
.landing-page{
	padding-top: 15vh !important;
}
.row{
	margin: 0;
}
.margin-auto{
	margin: auto;
}

.btn-primary{
	@include btn-primary;
}
.btn-primary:hover{
	@include btn-primary-hover;
}
.btn-primary:active, .btn-primary:focus{
	@include btn-primary;
	@include btn-primary-shadow;
}
.submit-btn{
	margin-top: 25px;
}
.btn{
	a{
		text-decoration: none;
		color: inherit;
	} 
}
.stops-container{
	max-height: 23vh;
	margin-bottom: 10px;
	padding: 10px 35px;
	overflow: auto;
	font-size: 1.3em;
	p{
		margin-bottom: 0;
	}
}
.directions-panel{
	max-height: 25vh;
	padding: 10px;
	margin-top: 15px;
	display: none;
	overflow: auto;
}

.img-filler{
	min-height: 100vh;
	display: block;
}

#confirmRoadTrip{
	margin-top: 3%;
}

#tripDetailsReadOut{
	border-radius: 3px;
	padding: 15px;
	margin-top: 5vh;
	min-height: 20vh;
	@include shadow-dark;
}
#total{
	p{
		margin: 10px !important;
	}
}

#startRentalProcess{
	margin-top: 10%;
}
#map{
	min-height: 100vh;
	margin: 0 -15px;
}
@import 'mediaQueries';
 








































