@import 'mixins';
@import 'modals';
@import 'vehicleCard';
@import 'images';
@import 'buttons';
*{
	scroll-behavior: smooth;
}
h3{
	font-size: 3rem;
}
.site-logo{
	width: 15vw;
	display: block;
	position: absolute;
	top: 2%;
	left: 3%;
}
.heading-underline{
	border: 2px solid #1c2430;
}
.date-picker{
	width: 270px;
}
.date-picker-container{
	margin: 0 2% 15% 0;
}
.section{
	min-height: 100vh;
}
.landing-page{
	padding-top: 20vh;
}
.row{
	margin: 0;
}
.margin-auto{
	margin: auto;
}

.stops-container{
	max-height: 23vh;
	margin-bottom: 10px;
	padding: 10px 35px;
	overflow: auto;
	font-size: 1.3em;
	p{
		margin-bottom: 0;
	}
}
.directions-panel{
	max-height: 23vh;
	padding: 10px;
	margin-top: 15px;
	display: none;
	overflow: auto;
}

.img-filler{
	min-height: 100vh;
	display: block;
}

#tripDetailsReadOut{
	border-radius: 3px;
	padding: 15px;
	margin-top: 5vh;
	@include shadow-dark;
}
#total{
	p{
		margin: 10px !important;
	}
}

#map{
	min-height: 100vh;
	margin: 0 -15px;
}
@import 'mediaQueries';
 








































